*{
    margin:0px;
    padding:0px
}
.orange{
    background-color: orange;
    height:100px;
    width:500px;
    margin:50px 60px 0px;

}
.white{ background-color: rgb(247, 247, 247);
    height:100px;
    width:500px;
    margin:0px 60px;

}
.green{background-color: green;
    height:100px;
    width:500px;
    margin:0px 60px;

}

